body {
    background-color: rgb(254, 250, 224);
}

.bigDiv {

    background-color: rgb(254, 250, 224);
    padding-bottom: 3em;
}



/* .Button {
    margin-left: 0.8em;
    margin-right: 0.8em;
    margin-top: 1.8em;
    background-color: rgb(212, 163, 115);
    height: 2.2em;
    border-radius: 0.5em;
} */

.Button {
    margin-left: 0.8em;
    margin-right: 0.8em;
    margin-top: 1.8em;
    background-color: rgb(212, 163, 115);
    height: 2.1em;
    width: 10%;
    border-radius: 0.5em;
    transition: transform 0.2s;
    font-size: 0.9em;
    font-family: Arial;
    padding: 0px 4px;
}

.Button:hover {
    cursor: pointer;
    box-shadow: 0 2px 4px black;
}

.Button:active {
    transform: translateY(3px);
    box-shadow: 0 2px 4px white;
}





.filterSelect {
    margin-left: 0.8em;
    margin-right: 0.8em;
    border: 1px solid black;
    background-color: rgb(254, 250, 224);

    height: 2.2em;
    border-radius: 0.5em;
    font-size: 1em;
}





.pageDiv {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 0;
    padding-bottom: 3em;

}

.orderFilter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 4em;
    margin-bottom: none;


}

.orderDivInterno {
    display: flex;
    flex-direction: row;
    font-size: 1em;
}

.tituloOrder {
    font-size: 1.1em;
}

.buttonUP {
    border: none;
    background: none;
    border-radius: 50%;
    margin-left: 100em;

}

.buttonUPinvisible {
    visibility: hidden;
}

.imgButtonUP {
    border-radius: 50%;
    height: 5em;
    width: 5em;
    transition: transform 0.3s;

}

.imgButtonUP:active {
    transform: translateY(3px);
}