.bigDiv {
    display: flex;
    flex-direction: row;

    background-color: rgb(254, 250, 224);
    height: 100%;
    padding-bottom: 35em;
    padding-top: 8em;
    justify-content: center;
}

.h1 {
    font-size: 3.5em;
    font-family: Arial;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 1.2em;

    color: black;

}

.img {
    height: 26.4em;
    width: 40em;
    align-self: center;
    border-radius: 50%;
    opacity: 0;
    animation: aparecer 4s ease;
    animation-fill-mode: forwards;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.button {
    margin-left: 0.8em;
    margin-right: 0.8em;
    margin-top: 1.8em;
    background-color: rgb(212, 163, 115);
    height: 2.1em;
    width: 10%;
    border-radius: 0.5em;
    transition: transform 0.2s;
    font-size: 0.9em;
    font-family: Arial;
    padding: 0px 4px;
    font-weight: bolder;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 2px 4px black;
}

.button:active {
    transform: translateY(3px);
    box-shadow: 0 2px 4px white;
}

.divImg {
    height: 25em;
    width: auto;


}

.dogImg {
    height: 20em;
    width: auto;
}

.divText {
    padding-top: 0em;
    margin-left: 5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

@media only screen and (max-width:600px) {
    .bigDiv {
        flex-direction: column;
        padding-top: 2em;
    }

    .dogImg {
        height: 15em;
        width: auto;
    }

    .divImg {
        height: 15em;
    }
}