.bigDiv {
    display: flex;
    flex-direction: column;
    background-color: rgb(254, 250, 224);
    align-items: center;
    justify-content: center;

}

.searchDiv {
    align-self: center;
    visibility: visible;
}

.hiddenSearch {
    visibility: hidden;
}

.navDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0em;
    align-items: center;
    background-color: rgb(204, 213, 174);
    height: 5em;




}

/* .Button {
    margin-left: 0.8em;
    margin-right: 0.8em;
    margin-top: 1.5em;
    background-color: rgb(212, 163, 115);
    height: 2.1em;
    width: 100%;
    border-radius: 0.5em;
    transition: transform 0.2s;
    font-size: 0.9em;
    font-family: Arial;
    padding: 0px 4px;
} */

.buttonContainer {
    margin-left: 15em;
    width: 27em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4em;
}


.Button {
    background-color: rgb(204, 213, 174);
    font-size: 1.2em;
    border: none;


}


.Button:hover {
    cursor: pointer;
    /* border-radius: 5px; */
    /* box-shadow: 0 0px 4px black; */
    border-bottom: 1px solid black;
}

.Button:active {
    transform: translateY(3px);
    /* box-shadow: 0 0px 4px white; */
    /* border-radius: 5px; */
    border-bottom: 1px solid black;


}

.imgContainer {
    align-self: center;
    margin-left: 4em;
    display: flex;
    flex-direction: row;

}

.imagen {
    margin-top: 0.5em;
    height: 4em;
    width: 4em;
    border-radius: 50%;
}

.titulo {
    margin-left: 0.5em;
    font-family: Candara;
}

@media only screen and (max-width:600px) {
    .bigDiv {
        width: 100%;
    }

    .imgContainer {
        flex-direction: column;
        height: 5em;
        margin-left: 1em;
        margin-right: 1em;
    }

    .titulo {
        size: 1em;
        display: none;
    }

    .buttonContainer {
        margin-left: 0em;
        padding-left: 0em;
        padding-right: 0em;
    }

    .Button {
        margin-right: 1em;
    }


}